rules_version = '2';

// @import ./functions/firestore.index.rules

service cloud.firestore {
  match /databases/{database}/documents {
    // @import ./hero/index.rules
  }
}
